{
  BasedOnStyle: Google,
  AllowShortFunctionsOnASingleLine: "None",
  AllowShortBlocksOnASingleLine: "false",
  ColumnLimit: 100,
}
# SortIncludes: Never,
# IndentWidth: 4,
# AllowShortLoopsOnASingleLine: "false",
# AllowShortCaseLabelsOnASingleLine: "false",
# MaxEmptyLinesToKeep: 2,
# PointerAlignment: "Right",
# SpacesInParentheses: false,
# SpacesInSquareBrackets: true,
# SpacesInAngles: false,
# BreakBeforeBraces: Attach,
# AllowShortLambdasOnASingleLine: All,
